* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: arial;
    background-image: url('/inventarioeu/assets/img/bg26.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
  }
  
  .form-login {
    width: 500px;
    height: 590px;
    background: #042847;
    margin: auto;
    margin-top: 18px;
    box-shadow: 7px 13px 37px rgb(232, 227, 227);
    padding: 20px 30px;
    border-top: 8px solid #017bab;
    color: white;
  }
  
  .form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
  }
  
  .controls {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #f0eaea;
    font-size: 14px;
    font-weight: bold;
  }
  
  .buttons {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
  }
  
  .form-login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
  }
  
  .form-login a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  
  .form-login a:hover {
    text-decoration: underline;
  }
  
  #contact-form select 
 { 
  width:100%;
  background: rgb(241, 237, 237);
  border: 0; 
  -moz-border-radius: 8px;  
  -webkit-border-radius: 8px;  
  border-radius: 8px;
  margin-bottom: 5px;  
  padding: 10px;  
}  
input[type="submit"] {
  border: none;
  display: block;
  background-color: #3ca9e2;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 18px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}